body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fdebd0;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f0932b;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
h1 {
    margin: 0;
}
main {
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;


}
.meme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 800px;
    margin: 0 auto;
    

}
.meme img {

}
.meme:hover {

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: #f0932b;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}